.heading{
    font-weight: 700;
    color: #232946;
    text-align: center;
}
.line{
    width: 80px;
    height: 2px;
    margin: auto;
    background-color: gray;
    margin-bottom: 25px;
}

.call-btn{
    width: 100%;
    position: relative;
    top: -40px;
}